<div id="soups-index">
  <div class="title">
    <h1><%= finished_soups?(params[:state]) ? "ä»Šå¤©è¦å›žå‘³å“ªç¢—æ¹¯ï¼Ÿ" : "ä»Šå¤©è¦é¸å“ªç¢—æ¹¯ï¼Ÿ" %></h1>
  </div>

  <% @soups.each do |soup| %>
    <div class="soup-block">
      <%= link_to soup_path(soup), class: "title" do %>
        <%= strip_tags soup.title %>
      <% end %>
      <div class="description"><%= format_description(soup) %></div>
      <% unless finished_soups?(params[:state]) %>
        <div class="online-counts" data-soup-id="<%= soup.id %>">
          ðŸ‘¥ : <span><%= @connection_counter[soup.id] %></span> äººåœ¨ç·š
        </div>
      <% end %>
      <%= link_to soup_path(soup), class: "enter-soup" do %>
        <%= finished_soups?(params[:state]) ? "çœ‹çœ‹ç…®å®Œçš„æ¹¯" : "åŠ å…¥ç…®æ¹¯" %>
      <% end %>
    </div>
  <% end %>
</div>
