<div id="soups-index">
  <div class="title">
    <h1><%= finished_soups?(params[:state]) ? "今天要回味哪碗湯？" : "今天要選哪碗湯？" %></h1>
  </div>

  <% @soups.each do |soup| %>
    <div class="soup-block">
      <%= link_to soup_path(soup), class: "title" do %>
        <%= strip_tags soup.title %>
      <% end %>
      <div class="description"><%= format_description(soup) %></div>
      <%= link_to soup_path(soup), class: "enter-soup" do %>
        <%= finished_soups?(params[:state]) ? "看看煮完的湯" : "加入煮湯" %>
      <% end %>
    </div>
  <% end %>
</div>
