<div id="soups-show">
  <div class="title">
    <h1><%= sanitize @soup.title %></h1>
  </div>
  <div class="info-link">
    <div>
      <% if current_user&.author?(@soup) && !@soup.finished? %>
        <a href="#" id="change-state-link" class="info">完結該湯</a>|
        <a href="#" id="new-clue-link" class="info">新增線索</a>|
      <% end %>
      <a href="#" id="description-link" class="info">前情提要</a>|
      <a href="#" id="clue-link" class="info">有用線索</a
    </div>
  </div>
  <%= render "flash", soup: @soup %>
  <%= render "result_form", soup: @soup %>
  <%= render "clues/form", clue: @clue %>
  <div class="description-panel">
    <div><%= sanitize @soup.description %></div>
  </div>
  <div class="clue-panel" id="clues">
    <div>
      <ul>
        <% @soup.clues.each do |clue| %>
          <li><%= sanitize clue.clue %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="messages" data-soup-id="<%= @soup.id %>" data-soup-state="<%= @soup.state %>">
      <%= render partial: "messages/message", collection: @soup.messages,
                                              as: :message,
                                              locals: { soup: @soup } %>
  </div>

  <div class="message-form-wrapper">
    <div class="exit"><%= link_to "退出", soups_path %></div>
    <% if current_user %>
      <% if @soup.active? %>
        <%= render "messages/form", message: @message %>
      <% end %>
    <% else %>
      <div class="login-first">
        請先 <%= link_to "登入", user_session_path %> 或 <%= link_to "註冊", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
